h1,
h2,
h3,
h4,
h5,
p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--basik-text-color);
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  --basik-text-color: #757575;
  --title-color: #212121;
  --background-color-secondary: #F5F4FA;
  --color-white: #fff;
  --secondary-color: #2196F3;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  padding: 10px 32px;
  min-width: 216px;
  font-family: inherit;
  background-color: var(--secondary-color);
  color: #ffffff;
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
  line-height: 1.9;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  background-color: #188CE8;
}

.btn-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  padding: 6px 22px;
  background-color: var(--background-color-secondary);
  color: var(--title-color);
  min-width: 73px;
  border-radius: 4px;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-portfolio:hover, .btn-portfolio:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--secondary-color);
  color: #FFFFFF;
}

.menu {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.menu .item + .item {
  margin-left: 8px;
}

.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  font-family: "Raleway", sans-serif;
  color: var(--secondary-color);
}

.word-studio {
  color: #000000;
}

.word-studio-footer {
  color: #ffffff;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

label {
  display: inline-block;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  overflow: hidden;
  background-color: #fff;
}

.btn-close {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  max-width: 30px;
  max-height: 30px;
  margin: 8px;
  padding: 6px;
  cursor: pointer;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.close {
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close:hover, .close:focus {
  fill: #2196F3;
}

.text-modal {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.17;
  margin-left: 41px;
  margin-top: 40px;
  margin-right: 39px;
  margin-bottom: 12px;
  color: var(--title-color);
}

.application-form {
  width: 528px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 40px 40px 40px;
}

.form-field {
  display: flex;
  flex-direction: column;
  text-align: left;
  position: relative;
  margin-bottom: 20px;
}

.form-label {
  display: inline-block;
  margin-bottom: 4px;
  text-align: left;
}

.icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-25%);
  outline: none;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input {
  width: 100%;
  padding: 11px 12px 11px 42px;
  margin-bottom: 10px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:hover, .form-input:focus {
  border-color: var(--secondary-color);
}
.form-input:hover ~ .icon, .form-input:focus ~ .icon {
  fill: var(--secondary-color);
}

.comment {
  margin-bottom: 4px;
}

textarea {
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
}

.form-field textarea::placeholder {
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.check-icon {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.check-none {
  fill: #212121;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check {
  width: 16px;
  height: 15px;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-input:checked + .check-icon {
  background-color: #2196F3;
}

.check-input:focus + .check-icon > .check-none,
.check-input:checked + .check-icon > .check-none {
  fill: #2196f3;
}

.check-input:checked + .check-icon > .check {
  opacity: 1;
}

.label-polisy {
  line-height: 1.7;
  margin-bottom: 30px;
}

.policy {
  margin-left: 8px;
}

.link-policy {
  color: var(--secondary-color);
  text-decoration: underline;
}

.btn-modal {
  width: 200px;
  height: 40px;
  background-color: var(--secondary-color);
  color: #FFFFFF;
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-modal:hover, .btn-modal:focus {
  border: none;
  background: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover,
.social__link:focus {
  background-color: var(--secondary-color);
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: #FFFFFF;
}

.social__icon {
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social {
  color: #FFFFFF;
  margin-right: 93px;
}

.social-footer {
  fill: #fff;
}

.header {
  border-bottom: 1px solid #ECECEC;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation {
  margin-left: 93px;
}

.site-nav {
  display: flex;
}
.site-nav .item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  color: var(--title-color);
  letter-spacing: 0.02em;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.site-nav .link {
  color: var(--title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .link:hover, .site-nav .link:focus {
  color: var(--secondary-color);
}
.site-nav .link.current {
  display: block;
  position: relative;
  color: var(--secondary-color);
}

.link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.link:hover, .link:focus {
  color: var(--secondary-color);
}
.link .current::after {
  position: absolute;
  bottom: -1px;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--secondary-color);
}

.contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  display: flex;
  margin-left: auto;
  gap: 50px;
}
.contacts__link {
  color: var(--basik-text-color);
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__item {
  display: flex;
  text-align: center;
  justify-content: center;
}
.contacts__item:hover, .contacts__item:focus {
  color: var(--secondary-color);
}
.contacts__icon-envelope {
  margin-right: 10px;
  fill: currentColor;
}
.contacts__icon-smartphone {
  margin-right: 10px;
  fill: currentColor;
}

.section-hero {
  padding-bottom: 200px;
  padding-top: 200px;
  background-color: #2F303A;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  margin-top: 0;
  max-width: 700px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  text-transform: uppercase;
}

.benefits {
  display: flex;
  justify-content: center;
}
.benefits .item {
  width: 270px;
}
.benefits .item + .item {
  margin-left: 30px;
}

.icon-benefits {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--background-color-secondary);
}

.icon-size {
  width: 70px;
  height: 70px;
}

.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  color: var(--title-color);
  margin-bottom: 10px;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  margin: 0;
}

.section-work {
  padding-top: 0;
  padding-bottom: 94px;
}

.work {
  display: flex;
  gap: 30px;
}
.work__list {
  position: relative;
}
.work__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-transform: uppercase;
  margin: 0;
  padding: 27px 0;
  color: #fff;
  background-color: rgba(47, 48, 58, 0.8);
}

.section--bcg {
  background-color: var(--background-color-secondary);
}

.container__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 50px;
  color: var(--title-color);
  text-align: center;
}

.command {
  display: flex;
  align-items: center;
  justify-content: center;
}
.command__list {
  margin-right: 30px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.command:last-child {
  margin-right: 0;
}
.command__name {
  padding-top: 30px;
  padding-bottom: 30px;
}
.command__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 10px;
  color: var(--title-color);
  text-align: center;
}
.command__specialty {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 16px;
}

.client {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.client__list {
  display: block;
  width: 170px;
  height: 92px;
}
.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__link:hover, .client__link:focus {
  border: 1px solid var(--secondary-color);
}
.client__icon {
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover .client__icon,
.client__link:focus .client__icon {
  fill: #2196F3;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
}
.portfolio .item {
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
  border-radius: 0px 0px 4px 4px;
}

.overlay {
  position: relative;
  overflow: hidden;
}
.overlay::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card:hover, .portfolio-card:focus {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.portfolio-card .item:nth-child(3n) {
  margin-right: 0;
}
.portfolio-card .item:nth-last-child(-n+3) {
  margin-bottom: 0;
}
.portfolio-card:hover .portfolio-text, .portfolio-card:focus .portfolio-text {
  transform: translateY(0%);
  opacity: 1;
}
.portfolio-card:hover .overlay::before, .portfolio-card:focus .overlay::before {
  transform: translateY(0%);
  opacity: 1;
}

.portfolio-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 63px 24px;
  color: #FFFFFF;
  letter-spacing: 0.03;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-photo {
  display: block;
}

.portfolio-description {
  padding: 20px 24px;
  border-left: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
}

.text-example {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  margin-top: 4px;
  margin-bottom: 0;
  padding: 0;
  color: var(--basik-text-color);
}

.title-example {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin: 0;
  padding: 0;
  color: var(--title-color);
  letter-spacing: 0.06em;
}

.section-footer {
  background-color: #2F303A;
}

.container.footer {
  display: flex;
  align-items: baseline;
  padding-top: 60px;
  padding-bottom: 60px;
}

address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: #FFFFFF;
  font-style: normal;
  margin-top: 20px;
}

.contacts-footer a {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.7;
}

.contacts-footer {
  margin-top: 9px;
}

.tel {
  margin-top: 9px;
}

.join {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}

.addres-footer {
  margin-right: 70px;
}

.btn-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-icon:nth-child(4) {
  margin-right: 0;
}
.btn-icon:hover, .btn-icon:focus {
  background-color: #2196F3;
}

.list.social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mailing__input {
  width: 358px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2F303A;
}
.mailing__subscription {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.mailing__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  position: relative;
  display: inline-block;
  margin-left: 12px;
  padding: 10px 62px 10px 28px;
  width: 200px;
  background-color: var(--secondary-color);
  color: #ffffff;
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
  letter-spacing: 0.06em;
}
.mailing__icon {
  position: absolute;
  margin-left: 10px;
  fill: #FFFFFF;
}/*# sourceMappingURL=main.css.map */