:root {
    --basik-text-color: #757575;
    --title-color: #212121;
    --background-color-secondary: #F5F4FA;
    --color-white: #fff;
    --secondary-color: #2196F3;
    --time-cubic-bezier: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
